.box-table {
    background-color: #3a4965;
    width: 1143px;
    margin: 0 auto;
    padding: 24px;
}

.pricing-table {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.pricing-plan {
    width: 310px;
    box-sizing: border-box;
    background-color: #fafafa;
    font-size: 18px;
    font-weight: bold;
}

.pricing-plan-text {
    display: block;
    font-size: 30px;
}

.plan {
    box-sizing: border-box;
    width: 277px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border: none;
}

.standard-plan {
    background-color: #89c331;
}

.ultimate-plan {
    background-color: #f04a56;
    font-size: 30px;
}

.premium-plan {
    background-color: #20807c;
}

.prices {
    padding: 18px 33px;
    box-sizing: border-box;
    height: 86px;
    background-color: #fafafa;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    position: relative;
}

.prices > sup {
    font-size: 24px;
    vertical-align: super;
}

.prices-per {
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    top: 52px;
    left: 137px
}

td,th{
    vertical-align: middle;
    box-shadow: 4px 0 6px -5px #757575 inset;
}

tr {
    height: 69px;
}

tr:nth-child(even) {
    background: #e3e3e3;
}
tr:nth-child(odd) {
    background: #f2f2f2;
}

.fas,
.far {
    padding-right: 10px;
    vertical-align: sub;
    color: #848484;
    font-size: 24px;
}

.buttons {
    height: 110px;
    font-size: 16px;
    color: #fff;
}

.buttons:nth-child(even) {
    background-color: #eeeeee;
}

.buttons:nth-child(1) {
    background-color: #dddddd;
}

.buttons:nth-child(3) {
    background-color: #f4f4f4;
}

.btn {
    width: 192px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.btn-contact {
    background-color: #484848;
    box-shadow: 0 9px 0 #404040;
}

.btn-standard {
    background-color: #89c331;
    box-shadow: 0 9px 0 #79b027;
}

.btn-ultimate {
    background-color: #f04a56;
    box-shadow: 0 9px 0 #df3a46;
}

.btn-premium {
    background-color: #20807c;
    box-shadow: 0 9px 0 #16736f;
}

.btn:hover {
    width: 200px;
    height: 57px;
    font-size: 25px;
}

